<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
 <marquee> DIWALI SALE Get 20% OFF on all NIKE Jordan's </marquee>
 <title>NIKE Just Do It</title>

 

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Just Do It</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Men</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Women</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">New Releases</a>
        </li>
      </ul>
    </div>
  </nav>

 
 
</head>
<body>
    {% extends 'theme.html' %}
{% block content %}
<h1>NIKE KICKS</h1>
<div class="container">
 <div class="row">
 {% for product in products %}
 <div class="col-md-3">
 <div class="container">
 <div class="card" >
 <img class="card-img-top" src="{{product.image}}"
alt="Card image cap">
 <div class="card-body">
 <h5 class="card-title">{{product.name}}</h5>
 <p class="card-text">{{product.price}}</p>
 <a href="#" class="btn btn-primary">CHECK OUT</a>
 </div>
 </div>
 </div>
 </div>
 {% endfor %}
 </div>
</div>
{% endblock %}
<h1>product</h1>
{% for product in products %}
<li>{{product.name}}</li>
{% endfor %}
</body>
</html>